<!DOCTYPE html>
<html lang="en" th:replace="~{shared/_layout :: layout('DIqkaaa app',~{::div#content},null)}">

<div id="content" class="container-fluid h-100 d-flex flex-column p-0"
     th:if="${note!=null}" th:object="${note}">

    <form th:action="@{/note}"  method="post" th:object="${note}" class="d-flex flex-column flex-grow-1 h-100">
        <label for="only" class="visually-hidden">Main text area</label>

        <textarea id="only" class="form-control  flex-grow-1" name="note" placeholder="Start typing..."
                  th:text="*{note.note}" autofocus></textarea>


        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

</html>
